@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';

html {
	scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'press start 2p', sans-serif;
}
#aboutPage {
	font-family: 'press start 2p', sans-serif;
}
